<div id="bibloteka_wrapper" layout="row" layout-align="center center" flex="100">
    <md-whiteframe id="loggin_div" flex="90" flex-sm="100">
        <md-toolbar id="k_login_div_header_toolbar" layout="row" layout-align="space-between center">
            <md-button id="btn_back" title="Go Back" aria-label="go_back" class="md-icon-button launch" ng-click="goBack()">
                <ng-md-icon icon="keyboard_backspace" style="fill:gray" size="32"></ng-md-icon>
            </md-button>
            <span class="md-subhead title">DETAJE RRETH LIBRIT</span>
            <md-button id="btn_back"
                 title="Other Options"
                 aria-label="go_back"
                 class="md-icon-button launch" >
                <ng-md-icon icon="more_vert" style="fill:gray" size="32"></ng-md-icon>
            </md-button>
        </md-toolbar>
        <md-content layout="row" layout-wrap>
            <div id="book_info_div" flex="100" layout="row">
                <div id="book_info_left_div" flex="40" flex-sm="100" flex-md-offset="5">
                    <div id="book_img_cover">
                        <center><div ng-show="book.cover!=null"><img src="img/covers/{{book.cover}}" width="300" height="340" /></div></center>
                        <center><div ng-show="book.cover==null"><img src="img/covers/no_cover.jpg" width="300" height="340" /></div></center>
                    </div>
                    <center><div id="book_isbn"><span class="title md-subhead">ISBN:{{book.isbn}}</span></div></center>
                </div>
                <div id="book_info_right_div" flex="60" flex-sm="100" layout-align="column">
                     <div id="book_title"><span class="md-display-1 title">{{book.name |uppercase}}</div>
                     <div id="book_author"><span class="md-headline title margin">{{book.author}}</span></div>
                     <div id="book_pages"><span class="md-headline title margin">{{book.pages}} faqe</span></div>
                     <div id="book_available" ng-show="book.available==1"><span class="md-headline title margin green">E LIRE </span></div>
                     <div id="book_available" ng-show="book.available==0"><span class="md-headline title margin red">E HUAZUAR</span></div>
                     <div id="book_read_count"><span class="md-headline title margin">Lexuar {{book.read_count}} here</span></div>
                     <div>
                       <md-button id="btn_action" flex="100" class="md-raised md-primary md-hue-2" ng-click="reserveBook(book.id)" ng-show="book.available==1">REZERVO</md-button>
                       <md-button id="btn_action" flex="100" class="md-raised md-primary md-hue-4" ng-click="notifyMeWhenFree(book.id)" ng-show="book.available==0">ME LAJMERO KUR LIROHET</md-button>
                   </div>
                </div>
            </div>
        </md-content>
    </md-whiteframe>
</div>
